@import './colores.css';

/* Reset básico y tipografía global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: var(--crema-claro);  /* Fondo con color crema */
  overflow-x: hidden;  /* Para prevenir scroll horizontal */
}

body {
  display: flex;
  flex-direction: column;
}

/* Contenedor principal */
.main-container {
  display: flex;
  min-height: 100vh;
}

/* Estilo para el sidebar */
.sidebar-container {
  width: 300px;
  background-color: var(--blanco);
  border-right: 1px solid var(--verde-medio);
  flex-shrink: 0;
  overflow-y: auto;  /* Aseguramos que no haya scroll horizontal */
}

/* Estilo para el contenido */
.contenido {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}
