.panel {
  padding: 2rem;
  background-color: var(--crema-claro);
  border-radius: 8px;
}

.panel-titulo {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--verde-oscuro);
}

.botones button {
  width: 100%;
  max-width: 200px;
  margin: 0.5rem auto;
}
