---
import PerfilAdmin from '../Componentes/PerfilAdmin.jsx';
import '../Estilos/colores.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Perfil del Administrador</title>
  </head>
  <body>
    <PerfilAdmin client:load />
  </body>
</html>
