---
import VistaClientes from '../Componentes/Clientes.jsx';
import '../Componentes/clientes.module.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Clientes | Fersoft</title>
  </head>
  <body>
    <VistaClientes client:load />
  </body>
</html>
