---
import FormularioCrud from '../Componentes/FormularioCrud.jsx';
import '../Componentes/FormularioCrud.module.css';  
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Panel de Formularios | Fersoft</title>
  </head>
  <body>
    <div class="wrapper">
      <FormularioCrud />
    </div>
  </body>
</html>
