:root {
    --verde-oscuro: #084C3B;
    --verde-brillante: #21B46C;
    --verde-medio: #A7CBA4;
  
    --crema-claro: #FAF4E8;
    --blanco: #FFFFFF;
    --negro-suave: #1A1A1A;
  }
  
  .contenedor {
    background-color: var(--crema-claro);
    padding: 2rem;
    border: 1px solid var(--verde-medio);
    border-radius: 8px;
    color: var(--negro-suave);
  }
  
  .titulo {
    color: var(--verde-oscuro);
    font-size: 1.5rem;
  }
  
  .descripcion {
    color: var(--verde-brillante);
    font-size: 1rem;
  }
  