/* src/Estilos/PanelEcuestas.module.css */

.wrapper {
  padding: 2rem;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--verde-oscuro);
  font-weight: bold;
}

.buscador {
  margin-bottom: 2rem;
}

.buscador input {
  padding: 0.6rem;
  border: 1px solid var(--verde-medio);
  border-radius: 4px;
}

.buscador button {
  padding: 0.6rem;
  background-color: var(--verde-brillante);
  color: var(--blanco);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buscador button:hover {
  background-color: var(--verde-oscuro);
}

.resultados {
  margin-top: 2rem;
}

.tablaEncuestas {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.tablaEncuestas th, .tablaEncuestas td {
  padding: 1rem;
  border: 1px solid var(--verde-medio);
  text-align: center;
}

.tablaEncuestas th {
  background-color: var(--verde-brillante);
  color: var(--blanco);
}

.tablaEncuestas tr:nth-child(even) {
  background-color: var(--crema-claro);
}

.botonVerEncuesta, .botonVerFormulario {
  background-color: var(--verde-brillante);
  color: var(--blanco);
  border: none;
  padding: 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 1rem;
}

.botonVerEncuesta:hover, .botonVerFormulario:hover {
  background-color: var(--verde-oscuro);
  box-shadow: 0 0 8px var(--verde-brillante);
}
