:root {
  --verde-oscuro: #084C3B;
  --verde-brillante: #21B46C;
  --verde-medio: #A7CBA4;
  --crema-claro: #FAF4E8;
  --blanco: #FFFFFF;
  --negro-suave: #1A1A1A;
  --rojo: #c0392b;
}

.perfilContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--crema-claro);
}

.panel {
  margin: 3rem auto;
  background-color: var(--blanco);
  padding: 2rem;
  border: 1px solid var(--verde-medio);
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.titulo {
  text-align: center;
  font-size: 1.5rem;
  color: var(--verde-oscuro);
  margin-bottom: 2rem;
  font-weight: bold;
}

.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #faf4e8;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--verde-medio);
  gap: 1rem;
}

.valor {
  flex-grow: 1;
  font-weight: bold;
  color: var(--negro-suave);
}

.input {
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--verde-medio);
  font-size: 1rem;
}

.boton {
  background-color: var(--verde-brillante);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton:hover {
  background-color: var(--verde-oscuro);
  box-shadow: 0 0 10px var(--verde-brillante);
}

.botonEliminar {
  width: 100%;
  background-color: var(--rojo);
  color: var(--blanco);
  padding: 0.6rem;
  margin-top: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.botonEliminar:hover {
  background-color: #a93226;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
}

.inputPassword {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.inputPassword input {
  flex: 1;
}

.ojo {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--verde-oscuro);
  transition: transform 0.2s;
}

.ojo:hover {
  transform: scale(1.2);
}
