---
import Header from '../Componentes/Header.jsx';
import Sidebar from '../Componentes/Sidebar.jsx';
import '../Estilos/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Constructor de Formularios de Fersoft</title>
  </head>
  <body>
    <!-- Incluyendo el Header -->
    <Header client:load />

    <main class="main-container">
      <!-- Sidebar izquierdo -->
      <div class="sidebar-container">
        <Sidebar client:load />
      </div>

      <!-- Contenido central -->
      <div class="contenido">
        <slot />
      </div>
    </main>
  </body>
</html>
